.App {
  display: flex;
  align-items: stretch;
}

.App-logo {
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.List-section {
  background-color: #222;
  width: 20vw;
  padding: 20px;
  color: white;
}

.List-titles {
  list-style: none;
  padding: 0;
  line-height: 1.5;
}

.Search-input {
height: 32px;
font-size: 16px;
}
